:root {
  --dark-titel-color: #212121;
  --white-titel-color: #FFFFFF;
  --text-color: #757575;
  --dark-background-color: #2F303A;
  --white-background-color: #FFFFFF;
  --grey-background-color: #F5F4FA;
  --accent-color: #2196F3;
  --logo-grey-color: #AFB1B8;
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* raleway-regular - latin_cyrillic */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/raleway-v27-latin_cyrillic-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/raleway-v27-latin_cyrillic-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway-v27-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/raleway-v27-latin_cyrillic-regular.woff") format("woff"), url("../fonts/raleway-v27-latin_cyrillic-regular.ttf") format("truetype"), url("../fonts/raleway-v27-latin_cyrillic-regular.svg#Raleway") format("svg");
  /* Legacy iOS */
}
/* raleway-700 - latin_cyrillic */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/raleway-v27-latin_cyrillic-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/raleway-v27-latin_cyrillic-700.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway-v27-latin_cyrillic-700.woff2") format("woff2"), url("../fonts/raleway-v27-latin_cyrillic-700.woff") format("woff"), url("../fonts/raleway-v27-latin_cyrillic-700.ttf") format("truetype"), url("../fonts/raleway-v27-latin_cyrillic-700.svg#Raleway") format("svg");
  /* Legacy iOS */
}
/* roboto-regular - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v30-latin_cyrillic-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v30-latin_cyrillic-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v30-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/roboto-v30-latin_cyrillic-regular.woff") format("woff"), url("../fonts/roboto-v30-latin_cyrillic-regular.ttf") format("truetype"), url("../fonts/roboto-v30-latin_cyrillic-regular.svg#Roboto") format("svg");
  /* Legacy iOS */
}
/* roboto-500 - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/roboto-v30-latin_cyrillic-500.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v30-latin_cyrillic-500.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v30-latin_cyrillic-500.woff2") format("woff2"), url("../fonts/roboto-v30-latin_cyrillic-500.woff") format("woff"), url("../fonts/roboto-v30-latin_cyrillic-500.ttf") format("truetype"), url("../fonts/roboto-v30-latin_cyrillic-500.svg#Roboto") format("svg");
  /* Legacy iOS */
}
/* roboto-700 - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-v30-latin_cyrillic-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v30-latin_cyrillic-700.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v30-latin_cyrillic-700.woff2") format("woff2"), url("../fonts/roboto-v30-latin_cyrillic-700.woff") format("woff"), url("../fonts/roboto-v30-latin_cyrillic-700.ttf") format("truetype"), url("../fonts/roboto-v30-latin_cyrillic-700.svg#Roboto") format("svg");
  /* Legacy iOS */
}
/* roboto-900 - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/roboto-v30-latin_cyrillic-900.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v30-latin_cyrillic-900.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v30-latin_cyrillic-900.woff2") format("woff2"), url("../fonts/roboto-v30-latin_cyrillic-900.woff") format("woff"), url("../fonts/roboto-v30-latin_cyrillic-900.ttf") format("truetype"), url("../fonts/roboto-v30-latin_cyrillic-900.svg#Roboto") format("svg");
  /* Legacy iOS */
}
h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

body {
  background-color: var(--white-background-color);
  font-family: Roboto, sans-serif;
  color: var(--text-color);
}

.conteiner {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .conteiner {
    width: 480px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) {
  .conteiner {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .conteiner {
    width: 1200px;
  }
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;
  color: var(--dark-titel-color);
}

.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--dark-titel-color);
}

.logo__web {
  color: var(--accent-color);
}

.logo__studio--black {
  color: #000000;
}

.logo__studio--white {
  color: #FFFFFF;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms var(--cubic) 0ms, visibility 250ms var(--cubic) 0ms;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  height: 581px;
  background-color: var(--white-background-color);
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms var(--cubic) 0ms, scale 250ms var(--cubic) 0ms;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.2);
}

.modal__close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  border-radius: 50%;
  cursor: pointer;
}

.form {
  display: flex;
  flex-direction: column;
  padding: 40px;
}

.modal__title {
  color: var(--dark-titel-color);
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
}

.form__label {
  margin-bottom: 10px;
}

.form__label-name {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
}

.form__input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms var(--cubic) 0ms;
}
.form__input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.form__input-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms var(--cubic) 0ms;
}
.form__input:focus + .form__input-icon {
  fill: var(--accent-color);
}

.form__input-conteiner {
  position: relative;
  display: block;
}

.form__label-text {
  margin-bottom: 20px;
}

.form__text {
  width: 100%;
  height: 120px;
  resize: none;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms var(--cubic) 0ms;
}
.form__text:focus {
  outline: none;
  border-color: var(--accent-color);
}

.form__input::placeholder,
.form__text::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form__checkbox-label {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color);
  align-self: center;
  margin-bottom: 30px;
}
.form__checkbox-label::before {
  content: "";
  display: block;
  width: 16px;
  height: 15px;
  border: 2px solid var(--dark-titel-color);
  border-radius: 3px;
  cursor: pointer;
  margin-right: 9px;
  transition: border 250ms var(--cubic) 0ms;
}
.form__checkbox:checked + .form__checkbox-label::before {
  background-image: url(../images/main-page/checkbox.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: var(--accent-color);
  border: none;
}
.form__checkbox:focus + .form__checkbox-label::before {
  border: 2px solid var(--accent-color);
}

.form__policy-link {
  color: var(--accent-color);
}

.modal__form-button {
  align-self: center;
  color: var(--white-titel-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  border-radius: 4px;
  border-color: transparent;
  cursor: pointer;
  min-width: 200px;
  min-height: 50px;
  padding: 10px 32px;
  transition: background-color 250ms var(--cubic) 0ms, box-shadow 250ms var(--cubic) 0ms;
}
.modal__form-button:hover, .modal__form-button:focus {
  background-color: #188CE8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.header {
  border-bottom: 1px solid #ECECEC;
}

.header__conteiner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  align-items: center;
  margin-left: 93px;
}

.menu__item:not(:last-child) {
  margin-right: 50px;
}

.menu__link {
  position: relative;
  display: block;
  padding: 32px 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.19;
  color: var(--dark-titel-color);
  transition: color 250ms var(--cubic) 0ms;
}
.menu__link:hover, .menu__link:focus {
  color: var(--accent-color);
}

.menu__link--current {
  position: relative;
  color: var(--accent-color);
}
.menu__link--current::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.contacts {
  display: flex;
  align-items: center;
}

.contacts__item:not(:last-child) {
  margin-right: 30px;
}

.contacts__icon {
  margin-right: 10px;
  fill: var(--text-color);
  transition: fill 250ms var(--cubic) 0ms;
}
.contacts__link:hover .contacts__icon, .contacts__link:focus .contacts__icon, .contacts__link:hover .contacts__icon, .contacts__link:focus .contacts__icon {
  fill: var(--accent-color);
}

.contacts__link {
  display: flex;
  align-items: center;
  color: var(--text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms var(--cubic) 0ms;
}
.contacts__link:hover, .contacts__link:focus {
  color: var(--accent-color);
}

.hero {
  background-color: #C4C4C4;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/main-page/hero-background.jpg);
  max-width: 1600px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 200px 0;
}

.hero__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-background-color);
  margin-bottom: 30px;
}

.hero__button {
  color: var(--white-titel-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  border-radius: 4px;
  border-color: transparent;
  cursor: pointer;
  min-width: 200px;
  padding: 10px 32px;
  transition: background-color 250ms var(--cubic) 0ms;
}
.hero__button:hover, .hero__button:focus {
  background-color: #188CE8;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
}

.features-list-item {
  width: 270px;
}
.features-list-item:not(:nth-child(4n)) {
  margin-right: 30px;
}

.features-icon-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  background-color: #F5F4FA;
  border-radius: 4px;
  margin-bottom: 30px;
}

.features-list-item-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--dark-titel-color);
  margin-bottom: 10px;
}

.features-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.what-we-do {
  padding-top: 0;
}

.what-we-do-list {
  display: flex;
  position: relative;
}

.what-we-do-list-item:not(:last-child) {
  margin-right: 30px;
}

.what-we-do-conteiner {
  position: relative;
}

.what-we-do-text {
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-titel-color);
  background-color: rgba(47, 48, 58, 0.8);
}

.team {
  background-color: var(--grey-background-color);
}

.team-list {
  display: flex;
}

.team-list-item {
  background-color: var(--white-background-color);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
.team-list-item:not(:nth-child(4n)) {
  margin-right: 30px;
}

.team-list-item-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--dark-titel-color);
  margin-bottom: 10px;
}

.team-item-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--text-color);
  margin-bottom: 16px;
}

.social-list {
  display: flex;
  justify-content: center;
}

.social-list__item:not(:last-child) {
  margin-right: 10px;
}

.social-list__link {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms var(--cubic) 0ms;
}
.social-list__link:hover, .social-list__link:focus {
  background-color: var(--accent-color);
}

.social-list__icon {
  fill: var(--logo-grey-color);
  transition: fill 250ms var(--cubic) 0ms;
}
.social-list__link:hover .social-list__icon, .social-list__link:focus .social-list__icon {
  fill: var(--white-titel-color);
}

.team-item-text-conteiner {
  padding-top: 30px;
  padding-bottom: 30px;
}

.clients {
  display: flex;
  justify-content: center;
}

.clients__item {
  display: flex;
}
.clients__item:not(:nth-child(6n)) {
  margin-right: 30px;
}

.clients__link {
  display: flex;
  width: 170px;
  height: 92px;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--logo-grey-color);
  border-radius: 4px;
  transition: border 250ms var(--cubic) 0ms;
}
.clients__link:hover, .clients__link:focus {
  border: 1px solid var(--accent-color);
}

.clients__icon {
  fill: var(--logo-grey-color);
  transition: fill 250ms var(--cubic) 0ms;
}
.clients__link:hover .clients__icon, .clients__link:focus .clients__icon {
  fill: var(--accent-color);
}

.filter-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--dark-titel-color);
  background-color: var(--grey-background-color);
  cursor: pointer;
  border-radius: 4px;
  border-color: transparent;
  padding: 6px 22px;
  transition: box-shadow 250ms var(--cubic) 0ms, background-color 250ms var(--cubic) 0ms, color 250ms var(--cubic) 0ms;
}
.filter-button:hover, .filter-button:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  background-color: var(--accent-color);
  color: var(--white-titel-color);
}

.filter-list-item:not(:last-child) {
  margin-right: 8px;
}

.projects-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.project-link {
  display: block;
  transition: box-shadow 250ms var(--cubic) 0ms;
}
.project-link:hover, .project-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects-list-item {
  width: calc((100% - 60px) / 3);
}
.projects-list-item:not(:nth-child(3n)) {
  margin-right: 30px;
}
.projects-list-item:not(:nth-last-child(-n+3)) {
  margin-bottom: 30px;
}

.project-img-overlay {
  position: relative;
  overflow: hidden;
}

.project-img-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--white-titel-color);
  background-color: rgba(33, 150, 243, 0.9);
  overflow: auto;
  transform: translateY(100%);
  transition: transform 250ms var(--cubic) 0ms;
}
.project-link:hover .project-img-text, .project-link:focus .project-img-text {
  transform: translateY(0%);
}

.project-item-text-conteiner {
  border: 1px solid #EEEEEE;
  border-top: 0;
  padding: 20px 24px;
}

.project-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--dark-titel-color);
  margin-bottom: 4px;
}

.project-type {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.footer {
  background-color: var(--dark-background-color);
  padding: 60px 0;
}

.footer-size {
  display: flex;
  align-items: baseline;
}

.address-footer {
  margin-top: 20px;
}

.address-list-item:not(:last-child) {
  margin-bottom: 9px;
}

.address-map {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  transition: color 250ms var(--cubic) 0ms;
}
.address-map:hover, .address-map:focus {
  color: var(--accent-color);
}

.address-mail,
.address-phone {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms var(--cubic) 0ms;
}
.address-mail:hover, .address-mail:focus,
.address-phone:hover,
.address-phone:focus {
  color: var(--accent-color);
}

.footer-social {
  margin-left: 70px;
}

.footer-social__links-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-titel-color);
  margin-bottom: 20px;
}

.footer-social__list {
  display: flex;
  justify-content: center;
}

.footer-social__list-item:not(:last-child) {
  margin-right: 10px;
}

.footer-social__list-link {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms var(--cubic) 0ms;
}
.footer-social__list-link:hover, .footer-social__list-link:focus {
  background-color: var(--accent-color);
}

.footer-social__list-icon {
  fill: var(--white-titel-color);
  transition: fill 250ms var(--cubic) 0ms;
}

.footer-subscribe {
  margin-left: auto;
}

.footer-subscribe-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-titel-color);
  display: inline-block;
  margin-bottom: 20px;
}

.footer-subscribe-form {
  display: flex;
}

.footer-subscribe-label {
  margin-right: 12px;
}

.footer-subscire-input {
  background-color: transparent;
  color: var(--white-titel-color);
  width: 358px;
  height: 50px;
  padding: 15px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  transition: border-color 250ms var(--cubic) 0ms;
}
.footer-subscire-input:hover, .footer-subscire-input:focus {
  outline: none;
  border-color: var(--white-titel-color);
}
.footer-subscire-input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-subscribe-button {
  color: var(--white-titel-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  border-radius: 4px;
  border-color: transparent;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  padding: 10px 28px;
  transition: background-color 250ms var(--cubic) 0ms;
}
.footer-subscribe-button:hover, .footer-subscribe-button:focus {
  background-color: #188CE8;
}

.footer-subscribe-button-icon {
  fill: var(--white-titel-color);
  margin-left: 10px;
}/*# sourceMappingURL=main.css.map */