:root {
    --dark-titel-color: #212121;
    --light-titel-color: #FFFFFF;
    --text-color: #757575;
    --dark-background-color: #2F303A;
    --white-background-color: #FFFFFF;
    --grey-background-color: #F5F4FA;
    --accent-color: #2196F3;
}

/* ================= BROWSER STYLES RESET =================*/

h1,
h2,
h3,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

address {
    font-style: normal;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

/* ================= STUDIO ================= */

body {
    background-color: var(--white-background-color);
    font-family: Roboto, sans-serif;
    color: var(--text-color);
}

.conteiner {
    width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

 .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
 }

/* ================= HEADER ================= */

.header {
    padding-top: 24px;
    padding-bottom: 25px;
    border-bottom: 1px solid #ECECEC;
}

.header-conteiner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--dark-titel-color);
}

.logo-web {
    color: var(--accent-color);
}

.logo-studio-black {
    color: #000000;
}

.logo-studio-white {
    color: #FFFFFF;
}

.navigation {
    display: flex;
    align-items: center;
}

.menu {
    display: flex;
    align-items: center;
    margin-left: 93px;
}

.menu-contacts {
    display: flex;
    align-items: center;
}

.menu-item:not(:last-child) {
    margin-right: 50px;
}

.menu-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.19;
    color: var(--dark-titel-color);
}

.current {
    color: var(--accent-color);
}

.menu-link:hover,
.menu-link:focus {
    color: var(--accent-color);
}

.header-email {
    color: var(--text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.header-phone {
    color: var(--text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.header-email:hover,
.header-email:focus,
.header-phone:hover,
.header-phone:focus {
    color: var(--accent-color);
}

.menu-contacts-email {
    margin-right: 30px;
}

/* ================= HERO  ================= */

.hero {
    background-color: #C4C4C4;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/main-page/hero-background.jpg);
    max-width: 1600px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 200px 0;
}


.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--white-background-color);
    margin-bottom: 30px;
}

.hero-button {
    color: var(--light-titel-color);
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    background-color: var(--accent-color);
    border-radius: 4px;
    border-color: transparent;
    cursor: pointer;
    min-width: 200px;
    padding: 10px 32px;
}

.hero-button:hover,
.hero-button:focus {
    background: #188CE8;
    
}

/* ================= FEATURES ================= */

.title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: center;
    margin-bottom: 50px;
    color: var(--dark-titel-color);
}

.features-list {
    display: flex;
    flex-wrap: wrap;
}

.features-list-item {
    width: 270px;
}

.features-list-item:not(:nth-child(4n)) {
    margin-right: 30px;
}

.features-list-item-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--dark-titel-color);
    margin-bottom: 10px;
}

.features-text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--text-color);
}

/* ================= WHAT WE DO ================= */

.what-we-do {
    padding-top: 0;
}

.what-we-do-list {
    display: flex; 
}

.what-we-do-list-item:not(:last-child) {
    margin-right: 30px;
}

/* ================= OUR TEAM ================= */

.team {
    background-color: var(--grey-background-color);
}

.team-list {
    display: flex;
}

.team-list-item {
    background-color: var(--white-background-color);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-list-item:not(:nth-child(4n)) {
    margin-right: 30px;
}

.team-list-item-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--dark-titel-color);
    margin-bottom: 10px;
}

.team-item-text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--text-color);
}

.team-item-text-conteiner {
    padding-top: 30px;
    padding-bottom: 30px;
}

/* ================= FOOTER ================= */

.footer {
    background-color: var(--dark-background-color);
    padding: 60px 0;
}

.address-footer {
    margin-top: 20px;
}

.address-list-item:not(:last-child) {
    margin-bottom: 9px;
}

.address-map {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.address-mail,
.address-phone {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.address-map:hover,
.address-map:focus,
.address-mail:hover,
.address-mail:focus,
.address-phone:hover,
.address-phone:focus {
    color: var(--accent-color);
}

/* ================= PORTFOLIO ================= */


.filter-list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.filter-button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    color: var(--dark-titel-color);
    background-color: var(--grey-background-color);
    cursor: pointer;
    border-radius: 4px;
    border-color: transparent;
    padding: 6px 22px;
}

.filter-button:hover,
.filter-button:focus {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    background-color: var(--accent-color);
    color: var(--light-titel-color);
}

.filter-list-item:not(:last-child) {
    margin-right: 8px;
}



.filter {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--dark-titel-color);
    background-color: var(--grey-background-color);
    border-radius: 4px;
    border-color: transparent;
}

.filter:hover,
.filter:focus,
.filter:active {
    color: var(--light-titel-color);
    background-color: var(--accent-color);
    cursor: pointer;
}

.projects-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.projects-list-item {
    width: calc((100% - 60px) / 3);
}

.project-item-text-conteiner {
    border: 1px solid #EEEEEE;
    border-top: 0;
    padding: 20px 24px;
}

.projects-list-item:not(:nth-child(3n)) {
    margin-right: 30px;
}

.projects-list-item:not(:nth-last-child(-n + 3)) {
    margin-bottom: 30px;
}

.project-name {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--dark-titel-color);
    margin-bottom: 4px;
}

.project-type {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--text-color);
}
