:root {
    --dark-titel-color: #212121;
    --white-titel-color: #FFFFFF;
    --text-color: #757575;
    --dark-background-color: #2F303A;
    --white-background-color: #FFFFFF;
    --grey-background-color: #F5F4FA;
    --accent-color: #2196F3;
    --logo-grey-color: #AFB1B8;
    --cubic: cubic-bezier(0.4, 0, 0.2, 1);
}

/* ================= BROWSER STYLES RESET =================*/

h1,
h2,
h3,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

address {
    font-style: normal;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

/* ================= STUDIO ================= */

body {
    background-color: var(--white-background-color);
    font-family: Roboto, sans-serif;
    color: var(--text-color);
}

.conteiner {
    width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

 .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
 }

.title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: center;
    margin-bottom: 50px;
    color: var(--dark-titel-color);
}

/* ================= HEADER ================= */

.header {
    border-bottom: 1px solid #ECECEC;
}

.header-conteiner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--dark-titel-color);
}

.logo-web {
    color: var(--accent-color);
}

.logo-studio-black {
    color: #000000;
}

.logo-studio-white {
    color: #FFFFFF;
}

.navigation {
    display: flex;
    align-items: center;
}

.menu {
    display: flex;
    align-items: center;
    margin-left: 93px;
}

.menu-contacts {
    display: flex;
    align-items: center;
}

.menu-item:not(:last-child) {
    margin-right: 50px;
}

.menu-link {
    position: relative;
    display: block;
    padding: 32px 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.19;
    color: var(--dark-titel-color);

    transition: color 250ms var(--cubic) 0ms;
}

.menu-link:hover,
.menu-link:focus {
    color: var(--accent-color);
}

.current {
    position: relative;
    color: var(--accent-color);
}

.current::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
}

.header-email {
    display: flex;
    align-items: center;
    color: var(--text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition: color 250ms var(--cubic) 0ms;
}

.header-phone {
    display: flex;
    align-items: center;
    color: var(--text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition: color 250ms var(--cubic) 0ms;
}

.header-email:hover,
.header-email:focus,
.header-phone:hover,
.header-phone:focus {
    color: var(--accent-color);
}

.menu-contacts-email {
    margin-right: 30px;
}

.contacts-icon {
    margin-right: 10px;
    fill: var(--text-color);
    transition: fill 250ms var(--cubic) 0ms;
}

.header-email:hover .contacts-icon,
.header-email:focus .contacts-icon,
.header-phone:hover .contacts-icon,
.header-phone:focus .contacts-icon {
    fill: var(--accent-color);
}



/* ================= HERO  ================= */

.hero {
    background-color: #C4C4C4;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/main-page/hero-background.jpg);
    max-width: 1600px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 200px 0;
}


.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--white-background-color);
    margin-bottom: 30px;
}

.hero-button {
    color: var(--white-titel-color);
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    background-color: var(--accent-color);
    border-radius: 4px;
    border-color: transparent;
    cursor: pointer;
    min-width: 200px;
    padding: 10px 32px;
    transition: background-color 250ms var(--cubic) 0ms;
}

.hero-button:hover,
.hero-button:focus {
    background-color: #188CE8;
}

/* ================= FEATURES ================= */

.features-list {
    display: flex;
    flex-wrap: wrap;
}

.features-list-item {
    width: 270px;
}

.features-list-item:not(:nth-child(4n)) {
    margin-right: 30px;
}

.features-icon-box {
    display: flex;
    justify-content: center;
    align-items: center;  
    height: 120px;
    background-color: #F5F4FA;
    border-radius: 4px;
    margin-bottom: 30px;
}

.features-list-item-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--dark-titel-color);
    margin-bottom: 10px;
}

.features-text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--text-color);
}

/* ================= WHAT WE DO ================= */

.what-we-do {
    padding-top: 0;
}

.what-we-do-list {
    display: flex; 
    position: relative;
}

.what-we-do-list-item:not(:last-child) {
    margin-right: 30px;
}

.what-we-do-conteiner {
    position: relative;
}

.what-we-do-text {
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 70px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white-titel-color);
    background-color: rgba(47, 48, 58, 0.8);
}


/* ================= OUR TEAM ================= */

.team {
    background-color: var(--grey-background-color);
}

.team-list {
    display: flex;
}

.team-list-item {
    background-color: var(--white-background-color);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-list-item:not(:nth-child(4n)) {
    margin-right: 30px;
}

.team-list-item-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--dark-titel-color);
    margin-bottom: 10px;
}

.team-item-text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--text-color);
    margin-bottom: 16px;
}

.social-list {
    display: flex;
    justify-content: center;
}

.social-list-item:not(:last-child) {
    margin-right: 10px;
}

.social-list-link {
    display: flex;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms var(--cubic) 0ms;
}

.social-list-link:hover,
.social-list-link:focus {
    background-color: var(--accent-color);
}

.social-list-icon {
    fill: var(--logo-grey-color);
    transition: fill 250ms var(--cubic) 0ms;
}

.social-list-link:hover .social-list-icon,
.social-list-link:focus .social-list-icon {
    fill: var(--white-titel-color);
}

.team-item-text-conteiner {
    padding-top: 30px;
    padding-bottom: 30px;
}

/* ================= OUR CLIENTS ================= */


.clients-list {
    display: flex;
    justify-content: center;
}

.clients-list-item:not(:nth-child(6n)) {
    margin-right: 30px;
}

.clients-list-item {
    display: flex;
}

.clients-list-link {
    display: flex;
    width: 170px;
    height: 92px;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--logo-grey-color);
    border-radius: 4px;
    transition: border 250ms var(--cubic) 0ms;
}

.clients-list-link:hover,
.clients-list-link:focus {
    border: 1px solid var(--accent-color);
}

.clients-list-icon {
    fill: var(--logo-grey-color);
    transition: fill 250ms var(--cubic) 0ms;
}

.clients-list-link:hover .clients-list-icon,
.clients-list-link:focus .clients-list-icon {
    fill: var(--accent-color);
}


/* ================= PORTFOLIO ================= */


.filter-list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.filter-button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    color: var(--dark-titel-color);
    background-color: var(--grey-background-color);
    cursor: pointer;
    border-radius: 4px;
    border-color: transparent;
    padding: 6px 22px;
    transition: box-shadow 250ms var(--cubic) 0ms, background-color 250ms var(--cubic) 0ms, color 250ms var(--cubic) 0ms;
}

.filter-button:hover,
.filter-button:focus {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    background-color: var(--accent-color);
    color: var(--white-titel-color);
}

.filter-list-item:not(:last-child) {
    margin-right: 8px;
}

.projects-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.project-link {
    display: block;
    transition: box-shadow 250ms var(--cubic) 0ms;
}

.project-link:hover,
.project-link:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects-list-item {
    width: calc((100% - 60px) / 3);
}

.project-img-overlay {
    position: relative;
    overflow: hidden;
}

.project-img-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 63px 24px;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: var(--white-titel-color);
    background-color: rgba(33, 150, 243, 0.9);
    overflow: auto;
    transform: translateY(100%);
    transition: transform 250ms var(--cubic) 0ms;
    }
    
.project-img-overlay:hover .project-img-text,
.project-img-overlay:focus .project-img-text {
    transform: translateY(0%);
    }

.project-item-text-conteiner {
    border: 1px solid #EEEEEE;
    border-top: 0;
    padding: 20px 24px;
}

.projects-list-item:not(:nth-child(3n)) {
    margin-right: 30px;
}

.projects-list-item:not(:nth-last-child(-n + 3)) {
    margin-bottom: 30px;
}

.project-name {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--dark-titel-color);
    margin-bottom: 4px;
}

.project-type {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--text-color);
}




/* ================= FOOTER ================= */

.footer {
    background-color: var(--dark-background-color);
    padding: 60px 0;
}

.footer-size {
    display: flex;
    align-items: baseline;
}

.address-footer {
    margin-top: 20px;
}

.address-list-item:not(:last-child) {
    margin-bottom: 9px;
}

.address-map {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    transition: color 250ms var(--cubic) 0ms;
}

.address-mail,
.address-phone {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    transition: color 250ms var(--cubic) 0ms;
}

.address-map:hover,
.address-map:focus,
.address-mail:hover,
.address-mail:focus,
.address-phone:hover,
.address-phone:focus {
    color: var(--accent-color);
}

.footer-social {
    margin-left: 70px;
}

.footer-social-links-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14x;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white-titel-color);
    margin-bottom: 20px;
}

.footer-social-list {
    display: flex;
    justify-content: center;
}

.footer-social-list-item:not(:last-child) {
    margin-right: 10px;
}

.footer-social-list-link {
    display: flex;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color 250ms var(--cubic) 0ms;
}

.footer-social-list-link:hover,
.footer-social-list-link:focus {
    background-color: var(--accent-color);
}

.footer-social-list-icon {
    fill: var(--white-titel-color);
    transition: fill 250ms var(--cubic) 0ms;
}

.footer-social-list-link:hover .social-list-icon,
.footer-social-list-link:focus .social-list-icon {
    fill: var(--white-titel-color);
}

/* ================= BACKDROP ================= */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity 250ms var(--cubic) 0ms, visibility 250ms var(--cubic) 0ms;
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 528px;
    height: 581px;
    background-color: var(--white-background-color);
}

.modal-close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    border-radius: 50%;
    cursor: pointer;
}
