.footer {
    background-color: var(--dark-background-color);
    padding: 60px 0;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .footer__tablet-wrap {
            display: flex;
            align-items: baseline;
            justify-content: space-around;
        }
}

@media screen and (min-width: 1200px) {
    .footer {
        text-align: left;
    }
    
    .footer__desktop-wrap {
        display: flex;
        align-items: baseline;
        justify-content: space-around;
    }
}