.address {
    margin-top: 20px;
}

.address__item:not(:last-child) {
    margin-bottom: 8px;
}

.address__map {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    transition: color 250ms var(--cubic) 0ms;

    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}

.address__mail,
.address__phone {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    transition: color 250ms var(--cubic) 0ms;

    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}

@media screen and (min-width: 768px) {
    .address__item:not(:last-child) {
        margin-bottom: 9px;
    }
}

