.address-footer {
    margin-top: 20px;
}

.address-list-item:not(:last-child) {
    margin-bottom: 9px;
}

.address-map {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    transition: color 250ms var(--cubic) 0ms;
}

.address-mail,
.address-phone {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    transition: color 250ms var(--cubic) 0ms;
}

.address-map:hover,
.address-map:focus,
.address-mail:hover,
.address-mail:focus,
.address-phone:hover,
.address-phone:focus {
    color: var(--accent-color);
}