.footer-subscribe {
    margin-left: auto;
}

.footer-subscribe-text {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white-titel-color);
    display: inline-block;
    margin-bottom: 20px;
}

.footer-subscribe-form {
    display: flex;
}

.footer-subscribe-label {
    margin-right: 12px;
}

.footer-subscire-input {
    background-color: transparent;
    color: var(--white-titel-color);
    width: 358px;
    height: 50px;
    padding: 15px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    transition: border-color 250ms var(--cubic) 0ms;

    &:hover,
    &:focus {
            outline: none;
            border-color: var(--white-titel-color);
        }

    &::placeholder {
            font-size: 16px;
            line-height: 1.25;
            letter-spacing: 0.03em;
            color: rgba(255, 255, 255, 0.6);
        }
}

.footer-subscribe-button {
    color: var(--white-titel-color);
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    background-color: var(--accent-color);
    border-radius: 4px;
    border-color: transparent;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    padding: 10px 28px;
    transition: background-color 250ms var(--cubic) 0ms;

    &:hover,
    &:focus {
            background-color: #188CE8;
        }
}

.footer-subscribe-button-icon {
    fill: var(--white-titel-color);
    margin-left: 10px;
}