.hero {
    background-color: #C4C4C4;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/main-page/hero-background.jpg);
    max-width: 1600px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 200px 0;
}


.hero__title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--white-background-color);
    margin-bottom: 30px;
}

.hero__button {
    color: var(--white-titel-color);
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    background-color: var(--accent-color);
    border-radius: 4px;
    border-color: transparent;
    cursor: pointer;
    min-width: 200px;
    padding: 10px 32px;
    transition: background-color 250ms var(--cubic) 0ms;
}

.hero__button:hover,
.hero__button:focus {
    background-color: #188CE8;
}