.team {
    background-color: var(--grey-background-color);
}

.team-list {
    display: flex;
}

.team-list-item {
    background-color: var(--white-background-color);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);

    &:not(:nth-child(4n)) {
            margin-right: 30px;
        }
}

.team-list-item-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--dark-titel-color);
    margin-bottom: 10px;
}

.team-item-text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--text-color);
    margin-bottom: 16px;
}

.social-list {
    display: flex;
    justify-content: center;
}

.social-list__item:not(:last-child) {
    margin-right: 10px;
}

.social-list__link {
    display: flex;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms var(--cubic) 0ms;

    &:hover,
    &:focus {
            background-color: var(--accent-color);
        }
}

.social-list__icon {
    fill: var(--logo-grey-color);
    transition: fill 250ms var(--cubic) 0ms;

    .social-list__link:hover &,
    .social-list__link:focus & {
            fill: var(--white-titel-color);
        }
}

.team-item-text-conteiner {
    padding-top: 30px;
    padding-bottom: 30px;
}