.clients__list {
    display: flex;
    justify-content: center;
}

.clients__list-item {
    display: flex;

    &:not(:nth-child(6n)) {
            margin-right: 30px;
        }
}

.clients__list-link {
    display: flex;
    width: 170px;
    height: 92px;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--logo-grey-color);
    border-radius: 4px;
    transition: border 250ms var(--cubic) 0ms;

    &:hover,
    &:focus {
            border: 1px solid var(--accent-color);
        }
}

.clients__list-icon {
    fill: var(--logo-grey-color);
    transition: fill 250ms var(--cubic) 0ms;

    .clients__list-link:hover &,
    .clients__list-link:focus & {
            fill: var(--accent-color);
        }
}

