.team {
    background-color: var(--grey-background-color);
}

.team__item {
    align-items: center;

    background-color: var(--white-background-color);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);

    &:not(:last-child) {
            margin-bottom: 30px;
        }
}

// .team__item:not(:nth-child(4n)) {
//     margin-right: 30px;
//     }

.team__item-wrap {
    padding-top: 30px;
    padding-bottom: 24px;
}



.team__title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--dark-titel-color);
    margin-bottom: 10px;
}

.team__text {
    font-size: 14px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-align: center;
    margin-bottom: 16px;
}

@media screen and (min-width: 768px) {
    .team__list {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .team__item:nth-child(odd) {
        margin-right: 30px;
    }

    .team__item:nth-last-child(-n+2) {
        margin-bottom: 0;
    }
}

@media screen and (min-width: 1200px) {
    .team__item-wrap {
        padding-bottom: 30px;
    }

    .team__item:not(:nth-child(4n)) {
        margin-right: 30px;
        margin-bottom: 0;
    }
}