.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 528px;
    height: 581px;
    background-color: var(--white-background-color);
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms var(--cubic) 0ms, scale 250ms var(--cubic) 0ms;

    .backdrop.is-hidden & {
            transform: translate(-50%, -50%) scale(1.2);
        }
}

.modal__close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    border-radius: 50%;
    cursor: pointer;
}