:root {
    --dark-titel-color: #212121;
    --white-titel-color: #FFFFFF;
    --text-color: #757575;
    --dark-background-color: #2F303A;
    --white-background-color: #FFFFFF;
    --grey-background-color: #F5F4FA;
    --accent-color: #2196F3;
    --logo-grey-color: #AFB1B8;
    --cubic: cubic-bezier(0.4, 0, 0.2, 1);
}